@font-face {
  font-family: 'Nissan Brand Light';
  font-style: normal;
  font-weight: 300;
  src: url("@/assets/fonts/NissanBrand-Light.otf");
}

@font-face {
  font-family: 'Nissan Brand Regular';
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/NissanBrand-Regular.otf");
}

@font-face {
  font-family: 'Nissan Brand Bold';
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/NissanBrand-Bold.otf");
}